<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="HttpRemote" type="Code.Logging.Reporting.HttpPostAppender, Code.Logging">
    <PostUrl value="http://Code.test.aliaslab.net/LogWebViewer/api/LogAppender/Append" />
    <!--<PostUrl>http://requestb.in/13u6rcm1</PostUrl>-->
    <FlushTimeout>00:00:05</FlushTimeout>
    <LogSourceIdentity value="IDSign SchedulerService" />
    <layout type="Code.Logging.Reporting.JsonLayout, Code.Logging">
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="FileAppenderDay" />
    <appender-ref ref="HttpRemote" />
  </root>
  <logger name="BSS">
    <level value="ALL" />
  </logger>
</log4net>